@using Musify.MVC.Models.ModelViews.SongModelView;
@model List<SongViewModel>;
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @foreach (var song in Model)
    {
        <h1>@song.Name</h1>
        @foreach(var artist in song.Artists)
        {
            <h4>@artist.UserName</h4>
            <h4>@artist.Songs</h4>
        }
    }

</div>